.anime-card{
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  color :white;
  width:20vw;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  border-radius: 16px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Added box-shadow */
}
.anime-card__image{
  padding-top: 10px;
  height: 35vh;
  object-fit: contain;
}
.anime-card__title{
  padding-left: 8px;
  padding-right: 8px;
}

.anime-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Added hover box-shadow */
}
