.navbar{
    border: 1px solid black;
    display: flex;
    padding: 40px 80px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #0A070B;
}
.navbar-logo{
    color:#B542AD
}

.navbar-logo :hover{
    cursor: pointer;
}
.nav-items{
    display: flex;
    margin-left: 20%;
    gap : 40px;
    color: var(--black-color-737174, #807E81);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
}
.nav-items :hover{
    cursor: pointer;
    color:aliceblue
}

