.anime-card-container{
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: hidden;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
    margin-left: 5%;
    margin-right: 3%;
}

.recent-episode-buttons-container{
    position: absolute;
    margin:20px;
    left:40%;
}

