.search-box{
    display: flex;
    gap:4px;
    align-items: center;
}
.search-input{
    border:  none ;
    height: 5vh;
    border-radius: 2em;
}
.search-icon{
    background-color: red;
    width: 35px;
    border-radius: .75em;
}
